<?xml version="1.0" encoding="utf-8"?>
<!--sqlmapping key s.表示查询语句；u.表示修改语句；d.表示删除语句；i.表示插入语句；-->
<configuration>
  <sqlmapping key="s.Pf_sys_db_shard_nodes">
    <description>
      时间:2019-05-09
      作者:zer
      功能:查询数据库列表
      参数:无
    </description>
    <sql>
      <![CDATA[
          SELECT * FROM pf_sys_db_shard_nodes
      ]]>
    </sql>
  </sqlmapping>
</configuration>